<h2>Hello, <%= @user.first_name %>.</h2>

<% if @user.doctors.empty? %>
  <p>You have not saved any doctors to your profile.</p>
  <%= link_to "Get Started", doctors_path %>
<% else %>
  <p>You have saved the following doctors:</p>
  <% @user.doctors.each do |doctor| %>
  <ul>
    <li><%= link_to "#{doctor.first_name} " + "#{doctor.last_name}, " + "#{doctor.title}", doctor_path(doctor) %></li>
  </ul>
  <% end %>
<% end %>

<% if @user.drugs.empty? %>
  <p>You have not saved any drugs to your profile.</p>
  <%= link_to "Get Started", drugs_index_path %>
<% else %>
  <p>You have saved the following drugs:</p>
  <% @user.drugs.each do |drug| %>
  <ul>
    <li><%= link_to "#{drug.generic_name} " + "#{drug.brand_name}", drug_path(drug) %></li>
  </ul>
  <% end %>
<% end %>
