<h2>Hello, <%= @user.first_name %>.</h2>

<% if @user.doctors.empty? %>
  <p>You have not saved a doctor's profile.</p>
<% else %>
  <% @user.doctors.each do |doctor| %>
    <ul>
      <li><%= doctor.first_name %> <%= doctor.last_name %>, <%= doctor.title %></li>
      <%= button_to "Remove Doctor", {:controller => "records", :action => "destroy", :doctor_id => @doctor.id :user_id => session[:user_id]}, :method => :delete %>
    </ul>
  <% end %>
<% end %>
