<!DOCTYPE html>
<html>
  <head>
    <title>Stethoscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='drug-body'>
    <div class='top-container'>
      <section class='drug-site-name'>
        <%= link_to "Stethoscope", drugs_index_path %>
      </section>
      <section class='drug-to-doc'>
        <%= link_to "Doctors", root_path %>
      </section>
      <% if logged_in? %>
        <section class='drug-site-auth'>
          <%= link_to "Log out", logout_path, method: "delete" %>
        </section>
        <section class='drug-site-user'>
          <%= link_to "Profile", user_path(@current_user) %>
        </section>
      <% else %>
        <section class='drug-site-auth'>
          <%= link_to "Log in", login_path %>
        </section>
        <section class='drug-site-user'>
          <%= link_to "Sign up", users_new_path %>
        </section>
      <% end %>
      <div class='drug-search-bar'>
        <%= form_tag drugs_index_path, :method => 'get' do %>
          <span>
            <%= text_field_tag :search, params[:search], placeholder: "Search Drug" %>
            <%= submit_tag "Find a Drug", :name => nil, :id => 'drug-button' %>
          </span>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
