<!DOCTYPE html>
<html>
  <head>
    <title>Stethoscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='core-body'>
    <div class='top-container'>
      <section class='site-name'>
        <%= link_to "Stethoscope", root_path %>
      </section>
      <% if logged_in? %>
        <section class='site-auth'>
          <%= link_to "Log out", logout_path, method: "delete" %>
        </section>
        <section class='site-user'>
          <%= link_to "Profile", user_path(@current_user) %>
        </section>
        <section class='to-drug'>
          <%= link_to "Drugs", search_path %>
        </section>
        <section class='to-doc'>
          <%= link_to "Doctors", root_path %>
        </section>
      <% else %>
        <section class='site-auth'>
          <%= link_to "Log in", login_path %>
        </section>
        <section class='site-user'>
          <%= link_to "Sign up", users_new_path %>
        </section>
        <section class='to-drug'>
          <%= link_to "Drugs", search_path %>
        </section>
        <section class='to-doc'>
          <%= link_to "Doctors", root_path %>
        </section>
      <% end %>
      <div class='search-bar'>
        <%= form_tag doctors_path, :method => 'get' do %>
          <span>
            <%= text_field_tag :search, params[:search], placeholder: "Search Doctor or Title" %>
            <%= submit_tag "Find a Doctor", :name => nil %>
          </span>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
