<!DOCTYPE html>
<html>
  <head>
    <title>Stethoscope</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style><%= yield :search_style %></style>
  </head>

  <body class='core-body'>
    <div class='top-container'>
      <section class='site-name'>
        <%= link_to "Stethoscope", root_path %>
      </section>
      <div class='dropdown'>
        <button class='drop-button'>Menu</button>
        <div class='dropdown-content'>
          <%= link_to "Doctors", root_path %>
          <%= link_to "Drugs", search_path %>
          <% if logged_in? %>
            <%= link_to "Log out", logout_path, method: "delete" %>
            <%= link_to "Profile", user_path(@current_user) %>
          <% else %>
            <%= link_to "Log in", login_path %>
            <%= link_to "Sign up", users_new_path %>
          <% end %>
        </div>
      </div>
      <div class='search-bar'>
        <%= form_tag doctors_path, :method => 'get' do %>
          <span>
            <%= text_field_tag :search, params[:search], placeholder: "Search Doctor or Title" %>
            <%= submit_tag "Find a Doctor", :name => nil %>
          </span>
        <% end %>
      </div>
      <div id='layout-search'>
        <%= content_for?(:layout_search) ? yield(:layout_search) : yield %>
      </div>
    </div>
  </body>
</html>
